# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangpython2.7
    - CONFIG=osx_c_compilerclangpython3.6
    - CONFIG=osx_c_compilerclangpython3.7
    - CONFIG=osx_c_compilertoolchain_cpython2.7
    - CONFIG=osx_c_compilertoolchain_cpython3.6
    - CONFIG=osx_c_compilertoolchain_cpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "KjxPRiHP6+Xgj/ptyZP7gTM2QYcUPZfUAljeKiLWRUlzJ3EmGvkCHpl2zslT/tWK5ghNxbWdPw7mWSet+YQVSP7Jl7//MV2c+5WVcwR/OxLH2jXMD8uT2w4SOcFDWKBq3Rr2r9/YV699zTvspY4f4x/+COwBoT4TwLbj9/T0tX33rCu6KkTMtTA6Dbl/rwyo14GyZcahnKSvAjWImBXM6QcfoPM9D0/9qbfuCsQU+237+zmmLd5FfSQOCWfe9g2bKMMYz04/EbnoloerFckikSSeamYp0ECckjD070NNgjFKfYgD6pYY4J6Bg6zTVwyDM0RsU3cHS/5f8SYukZKyIyqHWeBPrwqn/2L+vSFpIAew9wsrjGMM6D4YsGrXJqzCnbTcSLR301LvWQMA/AZw/BkjloXYIejhjJiFerxM5/SAQUk4pwskvhpX7KhuoQqwVsrZhYM5yb05r6+S3UIJT/QSgWTJvmZpq/cCyRQZQdnu/xnW2EBMvlDYGdsAx/NZJcbn+zDjV08kCWe8wcCx0P++pAxYLE7bIsJ2h4eZxaMpWxQlDdVQ+7m+PC9GiS6aFkxArpVg/cZGmDFUxvY0XG8zsnusIpZyMGCwsP093p3aH5PKeuZO+jeevsSl96zgBs0m4UyCCBEWa3RsgPQBrXhrqZSmS7Do9LkDWMWJJF4="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
